<div id="avatar">
	<% if logged_in? && current_user.avatar %>	
		<%= image_tag(current_user.avatar.public_filename) %>	
	<% else %>	
		<img src="/images/blankavatar.png">
	<% end %>
	<br />
	<% if logged_in? %>
		<br />
		<% if current_user.current_cycle.shared%>
		<%= link_to 'Stop sharing your current cycle', {:controller => 'home', :action => 'share_cycle', :id => current_user.current_cycle}, :method => :post %>
		<% else %>
		<%= link_to 'Share your current cycle', {:controller => 'home', :action => 'share_cycle', :id => current_user.current_cycle.id}, :method => :post %>
		<% end %>
		<br />		<span class="little_gray_text">
			<br />
			<div id="blue_header">
				<b>Status</b> 
			</div>
			<%= @user.display_motto %> 
			<br />
				<div id="fifteenpxspacer">
				</div>

				<div id="blue_header">
					<b>Your forum stats</b>
				</div>
			<%= current_user.posts.count %> posts  <br />

						<%= current_user.comments.count %> comments  

					<br />
							<div id="fifteenpxspacer">
							</div>
		
				<div id="blue_header">
					<b>Profile</b>
				</div>
				<%= @user.full_name %> 
				<br />
				<% if @user.city && @user.city.length > 1 %>
					<%= @user.city %>
				<% end %>
				<% if @user.state && @user.state.length > 1 %>
				<%= @user.state %>
				<% end %><br />
				<% if @user.children && @user.children == 1 %>
				Has <%= @user.children %> kid <br />
				<% elsif @user.children && @user.children > 1 %>
				Has <%= @user.children %> kids <br />
				<% end %>
				<% if @user.charting_for %>
				Charting for <%= @user.charting_for.chart_type %>
				<% end %>
				<div id="fifteenpxspacer">
				</div>
	<% end %>
	
</div>
<br />
