<div id="contentwrapper">
<div id="contentcolumn">
	<div id="forum_container" class="little_gray_text">
		<h1>Forums <%= image_tag 'black_beta.png' %> </h1>
		We realize sometimes you've just got to get a little help from your friends. That's why we've taken the time to create custom, integrated forums. Take a few minutes to meet other women who took control of their fertility. Ask questions, help others, and build your community.<br />
		<div id="fifteenpxspacer"></div>

		<% for forum in @forums %>
			<td width="60%">
		<h1><%= link_to forum.topic, :action => 'topic', :id => forum %></h1>
		<%= forum.posts.count%> posts<br />
		<% if forum.posts.count >= 1%>
		Last post <%= time_ago_in_words(forum.posts.find(:last).created_at) %> ago
		<% end%>
		<br /><br />
						<% end %>

</div>
<p></p>
</div>
</div>
<div id="leftcolumn">
	<%= render :partial => 'forums_left_column'%>
</div>

