<div id="contentwrapper">
	<div id="share_it" class="share_it">
		<table>
			<tr>
				<td align="right" width="80">
		<div id="avatar" style="display: inline;">
				<% if @user.avatar %>	
				<%= image_tag(@user.avatar.public_filename(:medium)) %>	
				<% else %>	
				<img src="/images/blankavatar.jpg">
				<% end %>
				</td>
				<td align="left">
					<div id="share_text">
					<%= @user.full_name %> shared this cycle. It started on <%= nice_date(@cycle.started) %>
					<% if @cycle.ended %>
					 and ended on <%= nice_date(@cycle.ended) %>.
					<% end %>
					<br />
					<%= @user.name %> has charted <%= @user.cycles.count%> 
					<% if @user.cycles.count == 1 %>
					cycle.
					<% else %>
					cycles.
					<% end %>
					<br />
					<% if @user.city or @user.state %>
					She lives in 
					<% if @user.city %>
					<%= @user.city%>
					<% end %>
					<% if @user.state%>
					<%= @user.state%>
					<% end %>
					<% end %>
					<br />
					<% if @user.children && @user.children > 0 %>
					Has <%= @user.children %> 
					<%if @user.children == 1%>
					kid
					<% else %>
					kids
					<% end%>
					<% end %>
					<br />
					And is charting for <%= @user.charting_for.chart_type%>.
					</div>
						</td>
					</tr>
				</table>
		</div>
<%= @graph%>

	<%= render :partial => 'shared_vertical_cal'%>
	<br />
	<br />
	</div>
<p></p>
</div>
