<div id="fivepxspacer">
</div>
<% for entry in @entries %>
	<% @entry_div = "expanded#{entry.id}"%>
	<% @default = "default#{entry.id}"%>
	<% @tall_attributes_div = "tall_attributes#{entry.id}"%>
	<div id="vertical_calendar">
		<div id="day">
			<span class="daydetails">
				Day
				<br />
			</span>
			<span class="daynumber">
				<%= (entry.chart_date.to_date - @cycle.started.to_date + 1).to_i %>
			</span>
			<br />
			<span class="daydetails">
				<%= nice_date_no_year (entry.chart_date) %>
			</span>
		</div>
		<div id="<%= @default%>">
			<div id="temp_and_expand">
				<span class="tempdetails">
					temp.
					<br />
				</span>
						<span class="tempnumber">
							<% if entry.temp == 0 %>
							<% else %>
					    	<% if entry.inaccurate %>
									<del><span style="color: #79afe0;">
								<% end%>
							<%= entry.temp %>&deg;
								<% if entry.inaccurate %>
									</del></span>
								<% end %>
							<%end%>
					<br />
				</span>
				<span class="more_button">
					<%= link_to_remote ('', :url => {:action => 'toggle_expand', :entry_id => @entry_div, :default => @default,})%>
		  	</span>
			</div>
			<div id="attributes">
  			<%= render :partial => 'history_vert_cal_table', :locals => {:entry => entry} %>
			</div>
		</div>
		<div id="<%= @entry_div %>" style="display: none;">
			<div style="background: none;">
				<div id="tall_temp_and_expand">
					<span class="tempdetails">
						temp.
						<br />
					</span>
							<span class="tempnumber">
								<% if entry.temp == 0 %>
								<% else %>
						    	<% if entry.inaccurate %>
										<del><span style="color: #79afe0;">
									<% end%>
								<%= entry.temp %>&deg;
									<% if entry.inaccurate %>
										</del></span>
									<% end %>
								<%end%>
					</span>
					<span class="less_button">
						<%= link_to_remote ('', :url => {:action => 'toggle_expand', :entry_id => @entry_div, :default => @default})%>
			  	</span>	
				</div>
				<div id="attributes">
					 <%= render :partial => 'history_vert_cal_table', :locals => {:entry => entry} %>
				</div>
				
			
					<div id="tall_attributes">
								
						<div id="<%= @tall_attributes_div %>"> 
							<span class="purpletext">
								<%= textilize(entry.comment) %>
							</span>
						<div id="fifteenpxspacer">
						</div>
							<% if entry.inaccurate%>
							<p class="bluetext">The temperatue for this entry may be inaccurate.</p><br />
							<% end%>
								<span class="greenlink"><%= link_to 'Edit this entry', {:controller => 'entry', :action => 'edit_entry', :id => entry, :history_id => @cycle.id} %>
								</span> | 
								<span class="redlink">
									<%= link_to 'Delete this entry', {:controller => 'entry', :action => 'destroy', :id => entry, :history_id => @cycle.id}, :confirm => 'Are you sure you want to delete this entry? This cannot be undone.', :method => :post %>
								</span>
						<div id="fifteenpxspacer">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end%>