<table width="100%" height="54px">
	<tr>
		<!-- COMMENT BUBBLE -->
		<td  width="8.3%" >			
			<% if entry.comment && entry.comment.length > 1%>
				<%= link_to_remote image_tag('big_comment.png'), :url => {:action => 'toggle_expand', :entry_id => @entry_div, :default => @default}%>
			<% else%> 
				<%= link_to_remote image_tag('no_comment.png'), :url => {:action => 'toggle_expand', :entry_id => @entry_div, :default => @default}%>			
			<% end%>
		</td>

		<!-- MUCUS -->
		<td align="center" width="8.3%">
				<% if entry.mucus == "unsure"%>
					<div id="unsure">
				<% elsif entry.mucus == "infertile"%>
					<div id="infertile">
				<% elsif entry.mucus == "fertile" %>
					<div id="fertile">
				<% else %>
					<div id="white">
				<% end %>
				<%= entry.mucus %><br />
				mucus
			 	</div>
		</td>
		
		<!-- VAGINAL_SENSATION -->
		<td align="center" width="8.3%">
			<% if entry.vaginal_sensation == "wet"%>
				<div id="fertile">
			<% elsif entry.vaginal_sensation == "dry"%>
				<div id="infertile">
			<% elsif entry.vaginal_sensation == "other" %>
				<div id="infertile">
			<% else %>
				<div id="white">
			<% end %>
			<%= entry.vaginal_sensation %><br />
			sens-<br />
			ation
		 	</div>
		</td>

		<!-- CERVIX -->
		<td align="center" width="8.3%">
			<div id="blankies2">
				cervix
			</div>
			<% if entry.cervix_position == "high" %>
				<div id="fertile_small">  
			<% elsif entry.cervix_position == "middle" %>
				<div id="unsure_small">
			<% elsif entry.cervix_position == "low" %>
				<div id="infertile_small">
			<% else %>
				<div id="white_small">
			<% end %>
				<%= entry.cervix_position%><br />
			</div>
			<% if entry.cervix_firmness == "soft" %>
				<div id="fertile_small">
			<% elsif entry.cervix_firmness == "medium" %>
				<div id="unsure_small">
			<% elsif entry.cervix_firmness == "hard" %>
				<div id="infertile_small">
			<% else%>
				<div id="white_small">
			<% end %>
				<%= entry.cervix_firmness %><br />
			</div>
			<% if entry.cervix_opening == "open"%>
				<div id="fertile_small">
			<% elsif entry.cervix_opening == "partly open"%>
				<div id="unsure_small">
			<% elsif entry.cervix_opening == "closed"%>
				<div id="infertile_small">
			<% else%>
				<div id="white_small">
  		<% end %>
				<% if entry.cervix_opening == "partly open"%>
				partly
				<% else%>
				<%= entry.cervix_opening %>
				<% end %><br />
			</div>
		</td>
		
		<!-- PERIOD -->
		<td align="center"  width="8.3%">
			<% if entry.period%>
				<div id="light_blue">
			<% else%>
				<div id="white">
			<% end %>
			period
			</div>		
		</td>
		
		<!-- SEX -->	
		<td align="center"  width="8.3%">
			<% if entry.intercourse%>
				<div id="dark_blue">
			<% else%>
				<div id="white">
			<% end %>
			sex
			</div>
		</td>
		
		<!-- PEAK DAY -->
		<td align="center"  width="8.3%">
			<% if entry.peak%>
				<div id="light_blue">
			<% else%>
				<div id="white">
			<% end %>
			peak 
			</div>
		</td>
	
		<!-- INSOMNIA -->	
		<td align="center"  width="8.3%">
			<% if entry.insomnia%>
				<div id="dark_blue">
			<% else%>
				<div id="white">
			<% end %>
			<% if entry.cycle.custom3 && entry.cycle.custom3.length >= 1%>
				<%= entry.cycle.custom3 %>
			<% else %>
				insomnia
			<% end %>			
			</div>
		</td>

		<!-- MOODY -->
		<td align="center"  width="8.3%">
			<% if entry.moody %>
				<div id="light_blue">
			<% else%>
				<div id="white">
			<% end %>
			moody
			</div>
		</td>
		
		<!-- BLOATING -->
		<td align="center" width="8.3%">
			<% if entry.bloating%>
				<div id="dark_blue">
			<% else%>
				<div id="white">
			<% end %>
				<% if entry.cycle.custom4 && entry.cycle.custom4.length >= 1%>
					<%= entry.cycle.custom4 %>
				<% else %>
					bloating
				<% end %>
			</div>
		</td>
		
		<!-- ACNE -->
		<td align="center"  width="8.3%">
			<% if entry.acne%>
				<div id="light_blue">
			<% else%>
				<div id="white">
			<% end %>
				<% if entry.cycle.custom1 && entry.cycle.custom1.length >= 1%>
					<%= entry.cycle.custom1 %>
				<% else %>
					acne
				<% end %>
		  </div>
		</td>

		<!-- CRAMPS -->
		<td align="center"  width="8.3%">
			<% if entry.cramps%>
				<div id="dark_blue">
			<% else%>
				<div id="white">
			<% end %>
				<% if entry.cycle.custom2 && entry.cycle.custom2.length >= 1%>
					<%= entry.cycle.custom2 %>
				<% else %>
					cramps
				<% end %>
			</div>
		</td>
	
	</tr>
</table>