<div id="contentwrapper">
<div id="contentcolumn">

		<div id="pointers">
<h1>History</h1>
You have completed <%= @user.cycles.find(:all, :conditions => 'current = 0').length %> 
cycles.

<% if @old_cycles.length == 0 %>
You don't have any archived cycles yet.
</div>
<div id="mystats" class="little_gray_text" style="min-height: 600px;">

<% end%>
<% for cycle in @old_cycles %>
<b><%= nice_date(cycle.started) %> to <%= nice_date(cycle.ended) %></b><br />
<%= cycle.entries.count %> entries<br />
<% if cycle.shared%>
This cycle is shared. Friends can see this cycle
at <%= link_to "www.chartmycycles.com/share/cycle/#{cycle.id}", "http://chartmycycles.com/share/cycle/#{cycle.id}"%>.<br />
<% end %>
<%= link_to 'View Details', :action => 'details', :id => cycle.id %> | 
<% if cycle.shared%>
<span class="redlink">
<%= link_to 'Stop sharing this cycle', {:controller => 'history', :action => 'share_cycle', :id => cycle.id}, :method => :post %>
</span>
<% else %>
<%= link_to 'Share this cycle', {:controller => 'history', :action => 'share_cycle', :id => cycle.id}, :method => :post %>
<% end %>
| <span class="redlink">
<%= link_to 'Delete this cycle', {:controller => 'history', :action => 'destroy', :id => cycle}, :confirm => 'Are you sure you want to delete this cycle? This cannot be undone.', :method => :post %>
</span><br /><br />

<% end%>
</div>
<p></p>
</div>
</div>
<div id="leftcolumn">
	<%= render :partial => 'lefty'%>
</div>