<% form_for :insomnia_comment, :url => {:controller => 'home', :action => 'insomnia_comment'} do |f| -%>
<p><label for="insomnia_comment">Insomnia Comment</label><br />
<%= f.text_area :comment %></p>
<p>
	<br /><br />
	<% @entry_id = params[:entry_id]%>
		<%= hidden_field_tag("entry_id", params[:entry_id]) %>
		<%= hidden_field_tag("tall_attributes", params[:tall_attributes]) %>
		
	<%= submit_tag 'Submit' %> or <%= link_to_remote ('Cancel', :url => {:action => 'comment_insomnia', :tall_attributes => @tall_attributes_div}) %>
</p>
<% end %>