<%= error_messages_for :entry %>
<div id="big_blue_header">
	New Entry
</div>
<div id="fivepxspacer"></div>
<div id="fivepxspacer"></div>

<% form_for(:entry, :url => {:controller => 'entry', :action => 'create'}, 
                      :html => { :multipart => true }) do |f| -%>
 
<p><label for="last">Chart date </label><%= calendar_date_select_tag "chart", Time.now, :embedded => false, :year_range => 100 %></p>
<br />
<label for="waking_temp">Waking temperature</label><br />
	<%= select_with_temp_options ("entry", "temp", degree_hash, "") %>
	<%= check_box( :entry, :inaccurate)%> My temp for this entry may be inaccurate.
	<br />
	<div id="fivepxspacer"></div>
<div id="fivepxspacer"></div>


<label for="waking_temp">Mucus</label> <%= link_to_remote ('Help me decide about my mucus!', :after => "Element.toggle('mucus_explained')")%><br />
	<%= select_with_mucus_options ("entry", "mucus", mucus_hash, "") %><br />
	
	<div id="mucus_explained" style="background: #ffffff; padding: 20px; margin-top: 5px; display: none; -moz-border-radius: 15px;">
		
			If you are dry or have no mucus today, choose
		  "dry". Once you have wetness or any mucus, choose
		  "fertile".
			<br />
			<br />
			If you are an experienced charter and know that you
		  are the type of woman who has mucus at all times, but can
		  effectively distinguish between fertile (slippery) and infertile
		  (for some people sticky or crumbly mucus is infertile mucus),
		  then you can choose "unsure" or "dry".
			<br />
			<br />

		  Below are some common words to describe mucus. These are 
		  suggestions to help you better describe today's mucus in the
		  comments section. It is your responsibility to accurately decide if
		  your mucus is fertile or infertile and make responsible
		  choices based on that decision.
		<br />
		<br />

		  <b>Mucus Description Terms:</b>
		  slippery, stretchy, eggwhite, small stretch, big stretch, milky,
		  creamy, cream, lotiony, clear, watery, tacky, sticky, crumbly,
		  dry etc.
	<br />
	<br />
		  Note: if you have "unsure mucus" pregnancy is a possibility.
		  Take appropriate action to achieve desired family size.
		<br />
		<br />

		  Having trouble deciding what word best suits your mucus? Go with
		  your gut and know that describing mucus gets much easier with
		  practice, so keep practicing.
		<br />
		<br />
			<%= link_to_remote ('Close', :after => "Element.toggle('mucus_explained')")%>
		</div>
			<div id="fivepxspacer"></div>
		<div id="fivepxspacer"></div>
		<label for="waking_temp">Vaginal sensation</label><br />
			<%= select_with_sensation_options ("entry", "vaginal_sensation", sensation_hash, "") %><br />
			<div id="fivepxspacer"></div>
		<div id="fivepxspacer"></div>
		
	
	
	<div id="fivepxspacer"></div>
<div id="fivepxspacer"></div>

<label for="waking_temp">Cervix position</label><br />
	<%= select_with_cervix_position_options ("entry", "cervix_position", position_hash, "") %><br />
	<div id="fivepxspacer"></div>
<div id="fivepxspacer"></div>

<label for="waking_temp">Cervix firmness</label><br />
	<%= select_with_cervix_firmness_options ("entry", "cervix_firmness", firmness_hash, "") %><br />
	<div id="fivepxspacer"></div>
<div id="fivepxspacer"></div>

<label for="waking_temp">Cervix opening</label><br />
	<%= select_with_cervix_opening_options ("entry", "cervix_opening", opening_hash, "") %><br />
	<div id="fivepxspacer"></div>
<div id="fivepxspacer"></div>


<%= check_box( :entry, :period)%> <label for="acne">Period or Spotting</label>
  <br />

<%= check_box( :entry, :intercourse)%> <label for="acne">Sex</label>
  <br />


<%= check_box( :entry, :peak)%> <label for="acne">Peak day</label>
 <br />

	<%= check_box( :entry, :insomnia)%>
	<% if current_user.current_cycle.custom3 && current_user.current_cycle.custom3.length >= 1%>
	<label for="acne"><%= current_user.current_cycle.custom3.capitalize %></label>
	<% else %>
		<label for="acne">Trouble sleeping</label>
	<% end %>
	  <br />


	<%= check_box( :entry, :moody)%> <label for="acne">Moody</label>
	  <br />


		<%= check_box( :entry, :bloating)%>
		<% if current_user.current_cycle.custom4 && current_user.current_cycle.custom4.length >= 1%>
		<label for="acne"><%= current_user.current_cycle.custom4.capitalize %></label>
		<% else %>
			<label for="acne">Bloating</label>
		<% end %>
		 <br />
		
		<%= check_box( :entry, :acne)%> 
		<% if current_user.current_cycle.custom1 && current_user.current_cycle.custom1.length >= 1%>
		<label for="acne"><%= current_user.current_cycle.custom1.capitalize %></label>
		<% else %>
			<label for="acne">Acne</label>
		<% end %>
		    <br />
		
					<%= check_box( :entry, :cramps)%>
					<% if current_user.current_cycle.custom2 && current_user.current_cycle.custom2.length >= 1%>
					<label for="acne"><%= current_user.current_cycle.custom2.capitalize %></label>
					<% else %>
						<label for="acne">Cramps</label>
					<% end %>
			  <br />

	<br />
	<label for="comments">Comments</label><br />
		<%= f.textile_editor :comment %>
	 <br />
		
	<div id="fivepxspacer"></div>
	<div id="fivepxspacer"></div>
	<div id="fivepxspacer"></div>
	
<p>
	<%= submit_tag 'Update' %> or <%= link_to_remote ('Cancel', :url => {:action => 'new_entry_form'}) %>
</p>
<%= textile_editor_initialize -%>

<% end -%>

