<div id="contentwrapper">
<div id="contentcolumn">
	<div id="pointers">
		<h1>Customize this cycle</h1>
	</div>
	<div id="mystats" class="little_gray_text">
<%= error_messages_for :entry %>


<div id="fivepxspacer"></div>
<div id="fivepxspacer"></div>

<% form_for(:cycle, :url => {:controller => 'cycle', :action => 'update'}, 
                      :html => { :multipart => true }) do |f| -%>
											<%= check_box_tag "clear_phase_dates" %> <label for="acne">Clear phase two dates</label><br />
											<%= check_box_tag "clear_cover_line" %> <label for="acne">Clear cover line</label>

											<br />
											<br />
<% if @user.cycles.count == 1%>
<p><label for="chart_date">Cycle start date </label><br /><%= calendar_date_select_tag "cycle[started]", @cycle.started, :embedded => false, :year_range => 100 %></p>
<br />
<br />
<% end %>

<p><label for="chart_date">Phase two start date </label><br /><%= calendar_date_select_tag "cycle[phase_one_end]", @cycle.phase_one_end, :embedded => false, :year_range => 100 %></p>
<br />

<p><label for="chart_date">Phase two end date </label><br /><%= calendar_date_select_tag "cycle[phase_three_start]", @cycle.phase_three_start, :embedded => false, :year_range => 100 %></p>
<br />
<br />


<%= select_with_entry_options ("cycle", "cover_line_entry_day", 0, 30, @cycle.cover_line_entry_day) %> <label> Set cover line entry day</label>
<br />
	<%= select_with_temp_options ("cycle", "cover_line_entry_temp", degree_hash, @cycle.cover_line_entry_temp) %><label> Set cover line temperature</label>
<br />
<br />

  <br />
	<p><label for="custom1">Change Acne to</label><br />
	<%= f.text_field :custom1 %></p>
	
	<p><label for="custom2">Change Cramps to</label><br />
	<%= f.text_field :custom2 %></p>
	
	<p><label for="custom3">Change Insomnia to</label><br />
	<%= f.text_field :custom3 %></p>
	
	<p><label for="custom4">Changing Bloating to</label><br />
	<%= f.text_field :custom4 %></p>
	<br />
	<br />
											<%= submit_tag 'Update' %> or <%= link_to ('Cancel', :controller => 'home', :action => 'index') %>
<% end %>
</div>
</div>
</div>
<div id="leftcolumn">
	<%= render :partial => 'entry_left'%>
</div>