
<div id="last_step_banner">
</div>
<div id="spacer" style="height: 170px">
</div>


<br />
<div id="content_big_center_wide">
	<div class="call_to_action">
		<%= link_to "Sign up now", :action => 'signup' %>
	</div>
	<br />
	<br />
	<table>
		<tr>
			<td width=60 style="vertical-align:top;">
				<%= image_tag 'plus_button.png'%>
			</td>
 			<td style="vertical-align:bottom">
				<h2>Learn as you go</h2><br />
Learning to chart fertility cycles can be confusing. Skip the confusion and get straight to the good stuff with our as-you-go tutorial.<br /><br />
			</td>
		</tr>
			<tr>
				<td style="vertical-align:top">
					<%= image_tag 'plus_button.png'%>
				</td>
	 			<td style="vertical-align:top">
<h2>Customize your charts to fit your needs</h2><br />
Add custom fields to chart things like medication, diet, sleep patterns, anything you like.<br /><br />
	</td>
</tr>
	<tr>
		<td style="vertical-align:top">
			<%= image_tag 'plus_button.png'%>
		</td>
		<td style="vertical-align:top">
 <h2>Know at a glance if you're fertile</h2><br />
We try to take the hard work out of interpreting your charts by telling you when you're most likely fertile, infertile, or about to menstruate. <br /><br />
	</td>
</tr>
	<tr>
		<td style="vertical-align:top">
			<%= image_tag 'plus_button.png'%>
		</td>
		<td style="vertical-align:top">
<h2>Store your entire chart cycle history</h2><br />
Each cycle you complete gets added to your cycle history, available to access and compare any time.<br /><br />
	</td>
</tr>
	<tr>
		<td style="vertical-align:top">
			<%= image_tag 'plus_button.png'%>
		</td>
		<td style="vertical-align:top">
<h2>Share your charts and get help through integrated forums</h2><br />
When you've got questions or want to discuss your chart, you can share your chart on our integrated forums.<br /><br />
	</td>
</tr>
	<tr>
		<td style="vertical-align:top">
			<%= image_tag 'plus_button.png'%>
		</td>
		<td style="vertical-align:top">
<h2>Track your cycles with deep, on-the-fly stats</h2><br />
As you complete cycles we put together interesting statistics about your fertility cycles that you can view any time.<br /><br />
	</td>
</tr>
	<tr>
		<td style="vertical-align:top">
			<%= image_tag 'plus_button.png'%>
		</td>
		<td style="vertical-align:top">
<h2>Gain visibility with your chart history comparison tool</h2><br /> 
See overlaid graphs of all of your cycles at once, and compare overlaid graphs of each 
of your symptoms.<br /><br />
	</td>
</tr>
	<tr>
		<td style="vertical-align:top">
			<%= image_tag 'plus_button.png'%>
		</td>
		<td style="vertical-align:top">
<h2>Track temperatures, cervical signs, and more</h2><br />
All of the staples of fertility charting are here and more. The only difference is now charting your fertility can be easy, fun, and accessible.<br /><br />
	</td>
</tr>
	<tr>
		<td style="vertical-align:top">
			<%= image_tag 'plus_button.png'%>
		</td>
		<td style="vertical-align:top">
<h2>Cancel anytime - it’s a monthly membership</h2><br />
We think our fertility software is the best. That's why we don't believe in lengthy contracts. Furthermore, if you aren’t 100% satisfied, simply cancel within the first two months and get a full refund.<br /><br />
	</td>
</tr>
</table>
	<div class="call_to_action" style="text-align: right">
		<%= link_to "Sign up now", :action => 'signup' %>
	</div>
	<br />
	<br />
</div>

<br />
