
<div id="signup_now_banner">
</div>
<div id="spacer" style="height: 110px;">
</div>
<br />
<%= render :partial => 'signup_form' %>
<br />
<div id="spacer" style="height: 20px;">
</div>
	<![if !IE]>
<table width="100%">
	<tr>
		<td align="center">
			<![endif]>
			<div style="margin-top: 10px;"></div>
			<div id="signup_tooltips" title="We don't believe in lengthy contracts. Monthly membership means you can cancel whenever you want.">
					<%= image_tag 'icons/mail_icon.png'%><p class="signup_tooltips_header">&nbsp;Cancel anytime</p> <span class="tiny">&nbsp;more...</span>
				</div><br />
				<div style="margin-top: 67px"></div>
				
<div id="signup_tooltips" title="Learn as you go! Learning to chart fertility cycles can be confusing. Skip the confusion and get straight to the good stuff with as-you-go tutorials.">
	<%= image_tag 'icons/bulb_icon.png'%><p class="signup_tooltips_header">&nbsp;Learn</p> <span class="tiny">&nbsp;more...</span>
</div>

<div id="signup_tooltips" title="Customize your charts to fit your needs! Add custom fields to chart things like medication, diet, sleep patterns, anything you like.">
	<%= image_tag 'icons/move_icon.png'%><p class="signup_tooltips_header">&nbsp;Customize</p> <span class="tiny">&nbsp;more...</span>
</div>

<div id="signup_tooltips" title="Know at a glance if you're fertile! We take the hard work out of interpreting your charts by telling you when we think you're most likely fertile, infertile, or about to menstruate.">
	<%= image_tag 'icons/checkmark_icon.png'%><p class="signup_tooltips_header">&nbsp;Know</p> <span class="tiny">&nbsp;more...</span>
</div>

<div id="signup_tooltips" title="Store your entire chart cycle history! Each cycle you complete gets added to your cycle history, available to access and compare any time.">
	<%= image_tag 'icons/database_icon.png'%><p class="signup_tooltips_header">&nbsp;Store</p> <span class="tiny">&nbsp;more...</span>
</div>
<br />

<div style="margin-top: 67px"></div>

<div id="signup_tooltips" title="Share your charts and get help through integrated forums! When you've got questions or want to discuss your chart, you can share your chart on our integrated forums.">
	<%= image_tag 'icons/user_icon.png'%><p class="signup_tooltips_header">&nbsp;Share</p> <span class="tiny">&nbsp;more...</span>
</div>

<div id="signup_tooltips" title="Track your cycles with deep, on-the-fly stats! As you complete cycles interesting statistics are presented about your fertility cycles that you can view any time.">
		<%= image_tag 'icons/graph_icon.png'%><p class="signup_tooltips_header">&nbsp;Track</p> <span class="tiny">&nbsp;more...</span>
</div>

<div id="signup_tooltips" title="Gain visibility with your chart history comparison tool! See overlaid graphs of all of your cycles at once and compare graphs of each 
of your symptoms.">
	<%= image_tag 'icons/key_icon.png'%><p class="signup_tooltips_header">&nbsp;Gain</p> <span class="tiny">&nbsp;more...</span>
</div>

<div id="signup_tooltips" title="Analyze temperatures, cervical signs, and more! All of the staples of fertility charting are here and more. Now charting your fertility can be easy, fun, and accessible.">
	<%= image_tag 'icons/key_icon.png'%><p class="signup_tooltips_header">&nbsp;Analyze</p> <span class="tiny">&nbsp;more...</span>
</div>
<br />

	<![if !IE]>
</td>
</tr>
</table>
<![endif]>
<div id="spacer" style="height: 40px;"></div>



