
<div id="tour_banner">
</div>
<div id="spacer" style="height: 170px">
</div>
<div id="login_box">
	<br />
<table align="center">
	<tr>
		<td>
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="630" height="380" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="src" value="http://www.youtube.com/v/1EutKrKTfLk&amp;ap=%2526fmt%3D22" /><param name="wmode" value="window" /><embed type="application/x-shockwave-flash" width="630" height="380" src="http://www.youtube.com/v/J3nOxqdryzk&amp;ap=%2526fmt%3D22" wmode="window"></embed></object>
</td>
</tr>
</table>
<br />
ChartMyCycles uses an innovative new structure for fertility charting. Fertility charts are easier to create and analyze than ever before. ChartMyCycles applies the same principles of traditional fertility charting, but in a clearer, more intuitive display.
<br />
<br />
<table width="100%">
	<tr>
	<td><%= @mucus_pie %> 
	</td>
	<td>
	<%= @position_pie%>
	</td>
	</tr>
	</table>
	<br />
	<br />
	<%= @bar_glass%>
	<br />
	<br />
	<%= @biggie %>

<div class="call_to_action" style="margin-top: 20px; text-align: right;">
	<%= link_to "See more benefits", :action => 'benefits' %> or 
	<%= link_to "Sign up now", :action => 'signup' %>
</div>
</div>