
<div id="tour_banner">
</div>
<div id="spacer" style="height: 170px">
</div>
<div id="login_box">
	<br />
<table align="center">
	<tr>
		<td>
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="630" height="380" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="src" value="http://www.youtube.com/v/1EutKrKTfLk&amp;ap=%2526fmt%3D22" /><param name="wmode" value="window" /><embed type="application/x-shockwave-flash" width="630" height="380" src="http://www.youtube.com/v/J3nOxqdryzk&amp;ap=%2526fmt%3D22" wmode="window"></embed></object>
</td>
</tr>
</table>
<br />
<h2>Watch a video</h2><br />
ChartMyCycles uses an innovative new structure for fertility charting. Fertility charts are easier to create and analyze than ever before. ChartMyCycles applies the same principles of traditional fertility charting in a clearer, more intuitive display.
<br />
<br />

</div>
<div id="tourtour">
	<table align="center" width="90%">
		<tr>
			<td>
	<%= image_tag 'vertical_cal.jpg' %>
	<br />
	<br />
	<h2>Everything you need to chart your fertility</h2><br />
  Track all of your fertility symptoms, journal as much as you like, and choose if you want to share each fully-interactive chart with anyone in the world. 
	<br />
	</td>
	</tr>
	</table>
</div>
<div id="tourtour">
	<table align="center" width="90%">
		<tr>
			<td>
	<%= @biggie %>
	<br />
	<br />
	<h2>Go ahead, use your mouse</h2><br />
  It's easy to interpret your fertility charts, especially when they're interactive. Every graph in ChartMyCycles is 
bright, intuitive, and interactive. See for yourself. Mouse over any graphs on this page.
	<br />
	</td>
	</tr>
	</table>
</div>
<div id="tourtour">
	<table align="center" width="90%">
		<tr>
			<td>
					<%= @bar_glass%>
	</td>
	<td>
	<%= @mucus_pie %> 
	
	</td>
	</tr>
	<tr>
		<td colspan="2">
			<br />
			<h2>Fertility stats on the fly</h2><br />
			Every aspect of your fertility charting is presented in charts, graphs, and statistics that are meant to give you more insight into your fertility cycles than you could ever have with paper charts.
			<br />
</td>
	</table>
	
</div>

<br />
<div id="login_box">
<div class="call_to_action" style="margin-top: 20px; text-align: right;">
	<%= link_to "See more benefits", :action => 'benefits' %> or 
	<%= link_to "Sign up now", :action => 'signup' %>
	<br />
	<br />
</div>
</div>
</div>