<div id="avatar">
		<% if current_user.avatar %>	
		<%= image_tag(current_user.avatar.public_filename) %>	
		<% else %>	
		<img src="/images/blankavatar.png">
		<% end %>
		<br />
	
</div>
<br />
<div class="innertube">
<% if @user.cycles.count > 1 %>
<%= image_tag 'triangle_bullet.png' %>Your previous cycle lasted <%= @last_cycle_day_count %> days (you made <%= @last_cycle_entry_count %> entries).<br /><br />
<% if @last_period_started %>
<%= image_tag 'triangle_bullet.png' %>Your last period started <%= time_ago_in_words(@last_period_started) %> ago. It lasted <%= @period_entries.length %> days.<br /><br />
<% end %>
<%= image_tag 'triangle_bullet.png' %>Your last ovulation was ... days ago. <br /><br />
<%= image_tag 'triangle_bullet.png' %>You were fertile for ... days. <br /><br />
<% else %><br />
<% end %>
</div>