<div id="pointers">
<h1>Stats</h1>
<b>This cycle</b> started 

<% if @user.current_cycle.started.to_date == Time.now.to_date %>
today.
<% else%>

<%= nice_date (@user.current_cycle.started) %> (<%= time_ago_in_words(@user.cycle_start_date)%> ago).
<% end %>
<% if @user.current_cycle.entries.count < 3 %>
<br />
<br />
<b>Your stats page is empty!</b> Don't worry, you just haven't accumulated enough 
entries in your current cycle yet. Wait a couple more days and then check 
back. We'll have stats aplenty then. 
<br />
<br />
Once you've made 3 or more entries in your 
cycle, you'll be able to compare all of your fertility signs and symptoms. This
stats page will look like the example below.
<% end %>
</div>
<div id="mystats" class="little_gray_text">
<% if @user.current_cycle.entries.count < 3 %>
<table width="100%">
<tr>
<td align="center">
<%= image_tag 'stats_example.png' %>
</td>
</tr>
</table>
<% else %>
<%= @graph%>
<br />
</div>
<div id="mystats" class="little_gray_text">

<table width="100%">
	<tr>
		<td width="33%">
			<%= @mucus_pie %> 
		</td>
		<td width="33%">	
			<%= @sensation_pie %>
		</td>
		<td width="33%">
			<%= @firmness_pie %>
		</td>
		</tr>
		<tr>
		<td width="33%">
			<%= @position_pie %>
		</td>
		<td width="33%">
			<%= @opening_pie %>
		</td>

	</tr>
</table>	
<% end %>
</div>
