<div id="tab" class="top_links">
	<%= link_to 'Home', :controller => 'home' %>
</div>
<div id="tab" class="top_links">
	<%= link_to 'History', :controller => 'history' %>
</div>
<div id="tab" class="top_links">
	<%= link_to 'Stats', :controller => 'stats '%>					
</div>
<div id="tab" class="top_links">
	<%= link_to 'Forums', :controller => 'forums'%>	<%= image_tag 'beta.png'%>		
</div>
			