<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta name="verify-v1" content="8L4GZFH5ra+L3relSYdIoGw2kPjHahFNmFeg/X4Dz/U=" />
  <title>ChartMyCycles.com | Plan your family with online fertility charting.</title>
  <!-- I'm using Yahoo's reset.css stylesheet here to level the playing field across browsers.-->
	<%= stylesheet_link_tag 'reset' %>
	<%= stylesheet_link_tag 'fertile' %>
	
	

</head>
<body>
	<div>
	<%= image_tag 'container_top.png' %>
	</div>
	<div id="container">

		<div id="logo_space">
				<% if logged_in? %>
					<div id="logo_div">
						<%= link_to image_tag('family_logo_purple.png'), :controller => 'home', :action => 'index'%>
					</div>
					<div id="domain">
						<%= link_to "ChartMyCycles", :controller => 'home', :action => 'index'%>
						</div>
				<% else %>
					<div id="logo_div">
						<%= link_to image_tag('family_logo_purple.png'), :action => 'index'%>
					</div>
					<div id="domain">
						<%= link_to "ChartMyCycles", :action => 'index'%>
						</div>
				<% end %>
			<div id="header_links">
			  <p style="text-align: right;"><!--<%= link_to 'Forums', :controller => 'forums' %> | <%= link_to 'Invite your friends', :action => 'invite' %> |--> <%= link_to 'Contact us', :action => 'contact' %> | Already a member? <%= link_to 'Log in', :action => 'login' %></p><br />
			</div>
		</div>
	
		<%= yield  %>
	
	</div>
	<div>
	<%= image_tag 'container_bottom.png' %>
	</div>

		<div id="footer">
			<%= render :partial => '/layouts/footer'%>
		</div>
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-4213512-2");
		pageTracker._trackPageview();
		</script>
</body>
</html>
